#anta{
    text-align:center ;
    color:white;
    font-size: 50px;

}
header{
    background-color: brown;
}
#aq{
    font-size: 20px;
    font-style: italic;
    text-align: justify;
}

h2{
    text-align: center;
    color: brown;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 50px;
    
}


#AMY{
    width:  30%;
    margin: 0 auto;
    border: 1px solid;
    text-align: center;
    font-size: 30px;
    border: 1px solid black;


}


#AMY{
    background-color: #eee;
}

#AMY{
    background-color: #fff;
}

th, td{
    text-align: center;
    margin:0 auto;
    font-size: 30px;
    border: 1px solid black;
}

#menu
{
    background-color: lightcoral;
}

.prix
{
    background-color: lightcoral;
}


#zark{
    display:flex;
    grid-gap: 100px;
    list-style: none;
    justify-content: center;
    color: white;
}


nav ul li a{
    text-decoration: none;
    justify-content: center;
    color: white;
}



